<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Abstraction Layer</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="main">
    <h1>
      Image Search Abstraction Layer
    </h1>
    
    <h2>
      How It Works
    </h2>

    <p>
      Visit /search/(yoursearchtermhere) to get a list of the first ten results via the <a href="https://www.flickr.com/services/api/">
      Flickr API</a>. Add the query string ?offset(number) to get results further back from your search, e.g. ?offset=2 to get the next 
      ten, and so on.
    </p>
      
      <ul>
        <li><a href="https://imgsearch-jsanderson.glitch.me/search/puppies">
          https://imgsearch-jsanderson.glitch.me/search/puppies</a></li>
        <li><a href="https://imgsearch-jsanderson.glitch.me/search/puppies?offset=2">
          https://imgsearch-jsanderson.glitch.me/search/puppies?offset=2</a></li>
      </ul>
      
      <p>
        Visit /recent to get the ten most recently used search terms, along with the date made.
      </p>
      <ul>
        <li><a href="https://imgsearch-jsanderson.glitch.me/recent">
          https://imgsearch-jsanderson.glitch.me/recent</a></li>
      </ul>
 
    </div>
    <div id="footer">
      <p>
        Created by <a href="https://github.com/J-Sanderson">J. Sanderson</a> for <a href="https://www.freecodecamp.org">freeCodeCamp</a>.
      </p>
    </div>

  </body>
</html>
